body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000; /* black background */
    color: #B8860B; /* darker gold */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 3em;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
}

.subtitle {
    font-size: 1.2em;
    margin: 0 0 30px;
    text-align: center;
    color: #B8860B;
    opacity: 0.9;
}

.start-button {
    background-color: #B8860B; /* darker gold */
    color: #000;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #A6760A; /* slightly darker gold upon hover */
    color: #000;
}
